<!DOCTYPE html>
<html lang="en">
  <head>
    <stl:include file="@/include/header.html"></stl:include> 
  </head>
  <body>
    <stl:include file="@/include/nav.html"></stl:include> 
    <div class="subject">
      <div class="sub-banner">
        <div class="banner-info tech-banner-info">
          <stl:channel type="Content"></stl:channel>
        </div>
        <img class="open-img" alt="" src="{Stl.SiteUrl}/images/tech_banner_.jpg"/>
      </div>
      
      <div class="sub-model">
        <div class="case-model">
          <div class="model-subtitle-box inner-width">
            <stl:channel type="Summary"></stl:channel>
          </div>
        </div>
      </div>
      
      <div class="sub-model model-cases">
        <div class="case-model">
          <p class="model-title-border">
            <a>八大工艺</a>
          </p>
          <div class="tech-icon-box inner-width">
            <div class="row">
              <stl:channels channelIndex="工艺">
                <div class="col-md-12 col-sm-12 col-xs-12 col-eight inner-align">
                  <stl:a>
                    {stl:channel type=icon}
                    <p class="tect-icon-info">{Channel.Title}</p>
                  </stl:a>
                </div>
              </stl:channels>
            </div>
          </div>
          <div class="row tech-model-box inner-width">
            <stl:channels channelIndex="工艺">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="tech-info">
                  <p class="tech-title font-white inner-align">{Channel.Title}</p>
                  <p class="tech-subtitle font-white inner-align">{Channel.Content}</p>
                </div>
                <stl:a><img alt="" class="open-img" src="{Channel.ImageUrl}"/></stl:a>
              </div>
            </stl:channels>
          </div>
        </div>
      </div>
    </div>
    <div class="tech-foot-banner inner-width col-xs-0">
      <div class="foot-banner-info">
        <p class="font-white inner-align">{stl:value type=adv_word}</p>
      </div>
      <a class="font-white" href="javascript:;">现在预约</a>
      {stl:value type=adv class="open-img"}
    </div>
    <stl:include file="@/include/bottom.html"></stl:include> 
    
  </body>
</html>

